*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-fixed {
  position: fixed
}

.\!tw-absolute {
  position: absolute !important
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-inset-0 {
  inset: 0px
}

.tw-left-0 {
  left: 0px
}

.tw-right-0 {
  right: 0px
}

.tw-top-0 {
  top: 0px
}

.tw-top-\[-57px\] {
  top: -57px
}

.tw-z-50 {
  z-index: 50
}

.tw-mb-20 {
  margin-bottom: 5rem
}

.tw-ml-\[40px\] {
  margin-left: 40px
}

.tw-ml-\[41px\] {
  margin-left: 41px
}

.tw-mr-5 {
  margin-right: 1.25rem
}

.tw-mt-3 {
  margin-top: 0.75rem
}

.\!tw-block {
  display: block !important
}

.tw-block {
  display: block
}

.tw-flex {
  display: flex
}

.\!tw-hidden {
  display: none !important
}

.tw-hidden {
  display: none
}

.tw-h-0 {
  height: 0px
}

.tw-h-full {
  height: 100%
}

.tw-h-screen {
  height: 100vh
}

.tw-max-h-\[1000px\] {
  max-height: 1000px
}

.tw-max-h-\[10em\] {
  max-height: 10em
}

.tw-w-\[300px\] {
  width: 300px
}

.tw-w-full {
  width: 100%
}

.tw-max-w-full {
  max-width: 100%
}

.tw-translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-cursor-pointer {
  cursor: pointer
}

.tw-flex-row {
  flex-direction: row
}

.tw-flex-col {
  flex-direction: column
}

.tw-flex-wrap {
  flex-wrap: wrap
}

.tw-items-start {
  align-items: flex-start
}

.tw-items-center {
  align-items: center
}

.tw-justify-start {
  justify-content: flex-start
}

.tw-justify-center {
  justify-content: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-3 {
  gap: 0.75rem
}

.tw-gap-4 {
  gap: 1rem
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-overflow-y-auto {
  overflow-y: auto
}

.tw-rounded-\[6px\] {
  border-radius: 6px
}

.tw-rounded-lg {
  border-radius: 0.5rem
}

.tw-border {
  border-width: 1px
}

.tw-bg-\[\#f6f6f6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity, 1))
}

.tw-bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5)
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.tw-p-10 {
  padding: 2.5rem
}

.tw-p-\[11px\] {
  padding: 11px
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-font-bold {
  font-weight: 700
}

.\!tw-opacity-100 {
  opacity: 1 !important
}

.tw-opacity-0 {
  opacity: 0
}

.tw-opacity-100 {
  opacity: 1
}

.tw-opacity-50 {
  opacity: 0.5
}

.tw-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-duration-200 {
  transition-duration: 200ms
}

.tw-duration-300 {
  transition-duration: 300ms
}

.hover\:tw-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.hover\:tw-underline:hover {
  text-decoration-line: underline
}

@media (min-width: 640px) {
  .sm\:tw-max-h-\[10em\] {
    max-height: 10em
  }
}

@media (min-width: 768px) {
  .md\:tw-ml-0 {
    margin-left: 0px
  }

  .md\:\!tw-block {
    display: block !important
  }

  .md\:\!tw-hidden {
    display: none !important
  }

  .md\:tw-h-auto {
    height: auto
  }

  .md\:tw-w-\[400px\] {
    width: 400px
  }
}